<!-- the viewport -->
<div class="m-carousel teste m-carousel-photos">
  <!-- the slider -->
  <div class="m-carousel-inner">
    <!-- the items -->
    <div class="m-item m-active">
      teste
    </div>
    <div class="m-item">
      teste 2
    </div>
    <div class="m-item">
      teste 3
    </div>
  </div>
  <!-- the controls -->
  <div class="m-carousel-controls m-carousel-bulleted">
    <a href="#" data-slide="1" class="m-active">1</a>
    <a href="#" data-slide="2">2</a>
    <a href="#" data-slide="3">3</a>
  </div>
</div>