<section class="artists_preview">
  <figure class="artists_card">
    <img src="/public/images/1.jpg">
    <figcaption class="artists_card_legend">fun factory</figcaption>
  </figure>
  <figure class="artists_card">
    <img src="/public/images/2.jpg">
    <figcaption class="artists_card_legend">fun factory</figcaption>
  </figure>
  <figure class="artists_card">
    <img src="/public/images/3.jpg">
    <figcaption class="artists_card_legend">fun factory</figcaption>
  </figure>
  <figure class="artists_card">
    <img src="/public/images/4.jpg">
    <figcaption class="artists_card_legend">fun factory</figcaption>
  </figure>
  <figure class="artists_card">
    <img src="/public/images/5.jpg">
    <figcaption class="artists_card_legend">fun factory</figcaption>
  </figure>
  <figure class="artists_card">
    <img src="/public/images/6.jpg">
    <figcaption class="artists_card_legend">fun factory</figcaption>
  </figure>  
</section>