/*
 | ------------------------------------------------------------
 |  Definitions.css
 |
 |  Contains all definitions used in application
 | ------------------------------------------------------------
 |*/

/*
 | ------------------------------------------------------------
 |  Define default text font for the application
 | ------------------------------------------------------------
 | */
$font_type_default: 'Helvetica', 'Arial', sans-serif; 

/*
 | ------------------------------------------------------------
 |  Colors used into application
 | ------------------------------------------------------------
 | */

$color_gray_light: #f5f5f5;
$color_gray_dark : #666666;
$color_gray      : #e6e6e6;
$color_purple    : #5600c8;
$color_white     : #ffffff;

/*
| ------------------------------------------------------------
|  default spaces
| ------------------------------------------------------------
| */

$space_size_1       : 0.3125em;
$space_size_2       : 0.625em;
$space_size_3       : 1.25em;
$space_size_4       : 2.5em;
$space_size_default : 1em;

/*
| ------------------------------------------------------------
|  default font sizes
| ------------------------------------------------------------
| */

$font_size_1: 0.75em;
$font_size_2: 1.875em;
$font_size_3: 3em;
$font_size_4: 4.5em;

/*
 | ------------------------------------------------------------
 |  Set box sizing for all elements
 | ------------------------------------------------------------
 | */

* { 
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}

/*
 | ------------------------------------------------------------
 |  Set default padding for all p elements
 | ------------------------------------------------------------
 | */

p { padding: .5em 0; }

/*
 | ------------------------------------------------------------
 |  Hide the all legend and hr elements
 | ------------------------------------------------------------
 | */

legend, hr { display: none; }

/*
| ------------------------------------------------------------
|  holder class
| ------------------------------------------------------------
| */

 .holder {
  // max-width: 61.75em !important;
  max-width: 90% !important;  
  margin: auto !important;
 }