<footer>
  <h3>2001/2012 - <%= data.app.title %></h3>
  <dl>
    <dt>Compartilhe</dt>
    <dd>Like</dd>
    <dd>Tweet</dd>
    <dd>Plus One</dd>
  </dl>
  <b>Powered by <a href="#">Youtube</a></b>
</footer>