<header>
  <h1 class="header_logo">Prototype</h1>
  <nav>
    <ul>
      <% data.app.modules.each do |item| %>
        <li><%= link_to item.name, item.url %></li>
      <% end %>
    </ul>
  </nav>
</header>