/*
 | ------------------------------------------------------------
 |  Header.css
 |
 |  Contains the header stylesheet
 | ------------------------------------------------------------
 | */

 body > header {
  @include display-box;
  @include box-orient(horizontal);
  @include box-pack(center);
  @include box-align(center);
  background: $color_gray_light;
  width: 100%;
  height: 15.625em;
  position: relative;
 }