<nav class="">
  <ul>
    <li><a href="#">mixes</a></li>
    <li><a href="#">videos</a></li>
    <li><a href="#">fotos</a></li>
    <li><a href="#">eventos</a></li>
    <li><a href="#">tweets</a></li>
    <li><a href="#">social</a></li>
    <li><a href="#">mp3</a></li>    
  </ul>
</nav>