<section class="">
  <ul>
    <% 6.times do |num| %>
      <li>
        <figure class="">
          <%= image_tag lorem.image('47x47', :random_color => true) %>
          <figcaption class="">2 Brothers On The 4th Floor - Dreams (Twenty 4 Seven Trance Mix)</figcaption>
        </figure>
      </li>
    <% end %>
  </ul>
</section>