<section class="artist_bio">
  <figure class="artist_photo">
    <%= image_tag lorem.image('300x200', :random_color => true) %>
    <figcaption class="card_artists_legend">fun factory</figcaption>
  </figure>
  <h1>2 Brothers on the 4th Floor</h1>
  <p>Aqua is a danish-norwegian dance-pop group, best known for their 1997 breakthrough single Barbie Girl. Initially forming as Joyspeed in 1989, the band was renamed Aqua in 1994 and achieved huge success across the globe in the late 1990s and early 2000s. The group managed to top the UK Singles Chart with their first three singles. The group released two albums: Aquarium in 1997 and Aquarius in 2000, before splitting up in July 2001. The group sold an estimated 33 million albums and singles, making them the most successful Danish band ever and the second most successful Norwegian band.</p>
</section>