<section class="">
  <ul>
    <% 6.times do |num| %>
      <li>
        <figure class="">
          <%= image_tag lorem.image('47x47', :random_color => true) %>
        </figure>
        <p>
          <h4>AJOC Festival 2012</h4>
          2 Brothers On The 4th Floor
        </p>
        <p>
          <h4>Forum Horsens</h4>
          Horsens, Denmark
        </p>        
      </li>
    <% end %>
  </ul>
</section>