<section class="">
  <ul>
    <% 6.times do |num| %>
      <li>
        <figure class="">
          <%= image_tag lorem.image('47x47', :random_color => true) %>
        </figure>
        <p>
          Aqua is a danish-norwegian dance-pop group, best known for their 1997 breakthrough single Barbie Girl.
        </p>
        <p>
          @twitteruser
        </p>        
      </li>
    <% end %>
  </ul>
</section>